## ----------------------------------------
## 業務進捗表(医)[薬価改定][T/Y変換指定率]
## ----------------------------------------
#set($GridObjName = "dps000C00s25Grid")
#set($CoverId = "dps000C00s25CoverId")
<script language="javascript">
<!--
var ${GridObjName};
## 初期表示＋読込処理
function dps000C00F25() {
    ${GridObjName} = createDhtmlXGridLodingExt("${GridObjName}", "${CoverId}");
    ${GridObjName}.setHeader("S/Y変換指定率最終更新日,S/B変換指定率最終更新日,薬価改定率最終更新日");
    ${GridObjName}.setInitWidths("200,200,200");
    ${GridObjName}.setColAlign("center,center,center");
    ${GridObjName}.setColTypes("ro,ro,ro");
    ${GridObjName}.enableResizing("false,false,false");
    ${GridObjName}.enableTooltips("false,false,false");
    ${GridObjName}.enableAutoWidth(true);
    ${GridObjName}.enableAutoHeight(true);
    ${GridObjName}.objBox.style.overflowX="hidden";
    ${GridObjName}.objBox.style.overflowY="hidden";
    ${GridObjName}.setSizes();
    ${GridObjName}.init();
    ${GridObjName}.enableBlockSelection();
    ${GridObjName}.forceLabelSelection(true);
    ${GridObjName}.setCSVDelimiter("\t");
    ${GridObjName}.load("$link.setAction('dps000C00F25?sFlg=true')", dps000C00F26);
    ${GridObjName}.attachEvent("onKeyPress",function(keycode,ctrl,shift){
        copyBlock(${GridObjName}, keycode, ctrl, shift);
        return true;
    });
    ${GridObjName}.attachEvent("onBeforeSelect",function(newId,oldId){return;});
}
//-->
</script>
#loadingGridDiv("${GridObjName}", "${CoverId}")
