#set( $layout = "nothingLayout.vm" )
#set( $data = $form.getRequestData("DPS202C03_DATA_R"))
#set( $dataList = $data.getSpecialInsPlanProdList())
#if($dataList)
$!consts.getDhtmlxGridXmlHeader()
<rows>
#if($form.bean.prodCategory)
    #set( $formProdCategory = $form.bean.prodCategory )
#else
    #set( $formProdCategory = 1 )
#end
##集計行表示判断用変数
#set( $isFirst = true )
#set( $isSecond = false )
##RowId用カウンタ
#set( $idcnt = 1 )
##各集計行集計範囲
#set( $srange = "" )
#set( $hrange = "" )
#set( $mrange = "" )
##各集計行
#set( $srowids = "" )
#set( $hrowids = "" )
#set( $mrowids = "" )
##追加ボタンId
#set( $bid = 1 )
##品目表示用カウント
#set( $DispProdCnt = 0 )
#set( $detailButtonFlg = false )
##施設名欄のフォント色
#set( $cellFontColor = "" )
#foreach($resultData in $dataList)
    ##初期化
    #set( $cellFontColor = "" )
    ##調整差額
    #if($resultData.getPlannedValueY())
        #set($Y = $resultData.getPlannedValueY())
    #else
        #set($Y = 0)
    #end
    #if($resultData.getPlannedValueY2())
        #set($Y2 = $resultData.getPlannedValueY2())
    #else
        #set($Y2 = 0)
    #end
    #set($sagaku = $Y - $Y2)

#if($resultData.getProdCategory().equals($formProdCategory))
    ##集計行
    #set( $sisetuflg = ( $resultData.getInsType().equals("sSum") ) )
    #set( $hinmokuflg = ( $resultData.getInsType().equals("hSum") ) )
    #set( $mmpflg = ( $resultData.getInsType().equals("mSum") ) )
    #if($DispProdCnt == 0)
        #set( $ProdName = $!resultData.getProdName() )
    #else
        #set( $ProdName = "" )
    #end
    #set( $DispProdCnt = $DispProdCnt + 1 )
    #set( $q = '"' )
    #set( $monNnu0PFAP = $!resultData.getmonNnu0_preFarAdvancePeriod())
    #set( $monNnu0FAP = $!resultData.getmonNnu0_FarAdvancePeriod())
    #set( $monNnu0AP = $!resultData.getmonNnu0_AdvancePeriod())
    #set( $monNnu0CP = $!resultData.getmonNnu0_CurrentPeriod())
    #if (!($sisetuflg) && !($hinmokuflg) && !($mmpflg) && $resultData.getMonNnu0())
        #set( $p = "?jgiNo=$!form.bean.jgiNo&prodCode=$!resultData.getProdCode()&category=$!form.bean.prodCategory&insNo=$!resultData.getInsNo()")
        #set( $detailButton0 = "<![CDATA[<input type='button' value='詳細' onClick='openModalWindow(${q}${link.setAction('dps913C01F00')}${p}${q})'/>]]>" )
        #if($detailButtonFlg)
            #set( $detailButton0 = "")
            #set( $detailButtonFlg = false )
        #else
            #set( $detailButtonFlg = true )
        #end
    #else
        #set( $detailButton0 = "" )
        #set( $detailButtonFlg = false )
    #end
    #if($isFirst)
        #set( $InsName = $!resultData.getInsName() )
        #set( $InsClass = $!resultData.getInsClass() )
        #if ($!security.hasAuthEdit("DPS202C00"))
            #set( $addButton = "<![CDATA[<input type='button' value='追加' onClick='inspos = $bid;openModalWindowW(${q}${link.setAction('dps912C04F00')}?tmsSelectMode=$tmsselect.getGrayAndDisableButtonMode()&tytenApplyFuncName=dps202C03TytenApply&sosCd=$!data.getSosCd3()${q})' />]]>" )
        #else
            #set( $addButton = "" )
        #end
        #set( $isSecond = true )
        ##表示色の判定
        #if( $!resultData.getDispFontColCd() )
            #set($cellFontColor = "color:#$!{resultData.getDispFontColCd()};")
        #end
    #elseif($isSecond)
        ##2行目処理
        #if( $!resultData.getInsInfoName() )
            #set( $InsName = "　$!{resultData.getInsInfoName()}" )
        #else
            #set( $InsName = "" )
        #end
        #set( $InsClass = "" )
        #set( $addButton = "" )
        #set( $detailButton = "" )
        #set( $isSecond = false )
        ##表示色の判定
        #if( $!resultData.getDispFontColCd() )
            #set($cellFontColor = "color:#$!{resultData.getDispFontColCd()};")
        #end
    #else
       #set( $InsName = "" )
       #set( $InsClass = "" )
       #set( $addButton = "" )
       #set( $detailButton = "" )
    #end
    #if($resultData.getPlannedValueY())
       #set( $type1 = "ron" )
    #else
       #set( $type1 = "ro" )
    #end
    #if($resultData.getPlannedValueY2())
       #set( $type2 = "edn" )
    #else
       #set( $type2 = "ed" )
    #end
    #set( $inputBgClass = " class='inputB'" )
    #if($resultData.getTmsTytenCd())
       #set( $sumRowFlg = "false" )
    #else
       #set( $type2 = "ro" )
       #set( $inputBgClass = "" )
       #set( $sumRowFlg = "true" )
    #end
    #set($bgClass = "")
    #set($bgClassTms = "")
    ## 削除施設の場合
    #if($resultData.getDelFlg())
       ## 背景色グレー
       #set( $bgClass = " class='delIns'" )
       #set( $bgClassTms = " class='delIns'" )
       ## 入力項目なし
       #set( $inputBgClass = " class='delIns'" )
       #set( $type2 = "ro" )
       ## 特約店追加ボタンなし
       #set( $addButton = "" )
    ## 配分除外の場合
    #elseif($resultData.getExDistFlg())
       ## 背景色黄色
       #set( $bgClass = " class='exceptDist'" )
       #set( $bgClassTms = " class='exceptDist'" )
       ## 入力項目なし
       #set( $inputBgClass = " class='exceptDist'" )
       #set( $type2 = "ro" )
       ## 特約店追加ボタンなし
       #set( $addButton = "" )
    ## 廃止特約店の場合
    #elseif($resultData.getPlanTaiGaiFlgRik())
       ## 背景色グレー
       #set( $bgClassTms = " class='planTaiGaiFlgRik'" )
       ## 入力項目なし
       #set( $inputBgClass = " class='planTaiGaiFlgRik'" )
       #set( $type2 = "ron" )
    #end
    #if(!($sisetuflg) && !($hinmokuflg) && !($mmpflg))
    <row id='$idcnt'>
        <userdata name="cellFontColor">$!{cellFontColor}</userdata>
        <userdata name="errFlg">$!resultData.getErrFlg()</userdata>
        <userdata name="alertFlg">$!resultData.getAlertFlg()</userdata>
        ##メッセージ見出し用
        <userdata name="prodName">$!resultData.getProdName()</userdata>
        <userdata name="insName">$!resultData.getInsName()</userdata>
        <userdata name="tmsTytenName">$!resultData.getTmsTytenName()</userdata>
        ##送信データ
        <userdata name="prodCode">$!resultData.getProdCode()</userdata>
        <userdata name="insNoA">$!resultData.getInsNo()</userdata>
        <userdata name="tmsTytenCd">$!resultData.getTmsTytenCd()</userdata>
        <userdata name="seqKey">$!resultData.getSeqKey()</userdata>
        <userdata name="para">$!resultData.getInsNo(),$!resultData.getProdCode(),$!resultData.getTmsTytenCd()</userdata>
        ##グリッド操作用
        <userdata name="sumRowFlg">$sumRowFlg</userdata>
        <userdata name="rowType">input</userdata>
        ##計算、追加用インデックス
        <userdata name="bid">$bid</userdata>
        ##計画立案対象外フラグ
        <userdata name="planTaiGaiFlgRik">$!resultData.getPlanTaiGaiFlgRik()</userdata>
        #if($DispProdCnt == 2)
            <cell style="border-width:0px 1px 0px 1px;">#dispProdType($resultData.getProdType())</cell>
        #else
            <cell style="border-width:0px 1px 0px 1px;">$!ProdName</cell>
        #end
        <cell$bgClass style="border-width:0px 1px 0px 1px;$!{cellFontColor}">$!InsName</cell>
        <cell$bgClass style="border-width:0px 1px 0px 1px;$!{cellFontColor}">$!InsClass</cell>
        <cell$bgClass style="border-width:0px 1px 0px 1px;">$!addButton</cell>
        <cell$bgClassTms>#if( $resultData.getPlanTaiGaiFlgRik() )$tmsselect.getPlanTaiGaiLabel()#end$!resultData.getTmsTytenName()</cell>
        <cell$bgClassTms type='$type1'>$!resultData.getPlannedValueY()</cell>
        <cell$inputBgClass type='$type2'>$!resultData.getPlannedValueY2()</cell>
        <cell$bgClassTms type='ron' style="#setSagakuStyle($sagaku)">$sagaku</cell>
        <cell$bgClassTms type='#setColType( $monNnu0PFAP, "ro" ,"ron")'>$monNnu0PFAP</cell>
        <cell$bgClassTms type='#setColType( $monNnu0FAP, "ro" ,"ron")'>$monNnu0FAP</cell>
        <cell$bgClassTms type='#setColType( $monNnu0AP, "ro" ,"ron")'>$monNnu0AP</cell>
        <cell$bgClassTms type='#setColType( $monNnu0CP, "ro" ,"ron")'>$monNnu0CP</cell>
        <cell$bgClass style="text-align:center;border-width:0px 1px 0px 1px;">$!detailButton0</cell>
        #set( $srange = $srange + "," + $idcnt)
        #set( $idcnt = $idcnt + 1 )
    </row>
    ##比較用施設コード、品目コード更新
    #set( $oldInsNo = $resultData.getInsNo() )
    #set( $oldProdCode = $resultData.getProdCode() )
    #set( $isFirst = false )
    #end
    ##施設合計
    #if($sisetuflg)
    <row id='$idcnt'>
    <userdata name="srange">$srange</userdata>
    <userdata name="sumRowFlg">true</userdata>
    #if($DispProdCnt == 2)
        <cell style="border-width: 0px 1px 0px 1px;">#dispProdType($resultData.getProdType())</cell>
    #else
        <cell style="border-width: 0px 1px 0px 1px;"></cell>
    #end
        <cell$bgClass style="border-width:0px 1px 1px 1px;$!{cellFontColor}">$!InsName</cell>
        <cell$bgClass style="border-width:0px 1px 1px 1px;"></cell>
        <cell$bgClass style="text-align:center;border-width:1px 0px 1px 1px;">施設計</cell>
        <cell$bgClass style="border-width:1px 0px 1px 0px;"></cell>
        <cell$bgClass type='ron'>$!resultData.getPlannedValueY()</cell>
        <cell$bgClass type='ron'>$!resultData.getPlannedValueY2()</cell>
        <cell$bgClass type='ron' style="#setSagakuStyle($sagaku)">$sagaku</cell>
        <cell$bgClass>$!resultData.getmonNnu0_preFarAdvancePeriod()</cell>
        <cell$bgClass>$!resultData.getmonNnu0_FarAdvancePeriod()</cell>
        <cell$bgClass>$!resultData.getmonNnu0_AdvancePeriod()</cell>
        <cell$bgClass>$!resultData.getmonNnu0_CurrentPeriod()</cell>
        <cell$bgClass></cell>
        #set( $srange = "" )
        #set( $bid = $bid + 1 )
        #set( $hrange = $hrange + "," + $idcnt )
        #set( $idcnt = $idcnt + 1 )
        #set( $isFirst = true )
     </row>
     #end
     ##品目計
     #if($hinmokuflg)
     <row id='$idcnt'>
        <userdata name="hrange">$hrange</userdata>
        <userdata name="sumRowFlg">true</userdata>
        <cell style="border-width:1px 0px 0px 0px;">$!ProdName</cell>
        <cell class="psumB textL" style="border-width:1px 0px 1px 0px;">品目計</cell>
        <cell class="psumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="psumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="psumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="psumB" type='ron'>$!resultData.getPlannedValueY()</cell>
        <cell class="psumB" type='ron'>$!resultData.getPlannedValueY2()</cell>
        <cell class="psumB" type='ron' style="#setSagakuStyle($sagaku)">$sagaku</cell>
        <cell class="psumB">$!resultData.getmonNnu0_preFarAdvancePeriod()</cell>
        <cell class="psumB">$!resultData.getmonNnu0_FarAdvancePeriod()</cell>
        <cell class="psumB">$!resultData.getmonNnu0_AdvancePeriod()</cell>
        <cell class="psumB">$!resultData.getmonNnu0_CurrentPeriod()</cell>
        <cell class="psumB"></cell>
        #set( $DispProdCnt = 0 )
        #set( $DispMMPFlg = true )
        #set( $srowids =  $srowids + $hrange )
        #set( $hrange = "" )
        #set( $mrange = $mrange + "," + $idcnt )
        #set( $idcnt = $idcnt + 1 )
     </row>
     ##担当者別計画
        ##品目名称が空ではないということは、施設が0件だったということ。この場合、品目コードを書き換える。
        #if($!ProdName != "")
            #set( $oldProdCode = $resultData.getProdCode() )
        #end
        ##調整差額
        #if(${map.getMapValue($!{data.getMrPlanValueMap()},$!{oldProdCode})})
            #set($Y = $format.parseLong($!{map.getMapValue($!{data.getMrPlanValueMap()},$!{oldProdCode})}))
        #else
            #set($Y = 0)
        #end
        #if($resultData.getPlannedValueY2())
            #set($Y2 = $resultData.getPlannedValueY2())
        #else
            #set($Y2 = 0)
        #end
        #set($sagaku = $Y - $Y2)
     <row id='$idcnt'>
        <userdata name="sumRowFlg">true</userdata>
        <cell></cell>
        <cell class="jsumB textL" style="border-width:1px 0px 1px 0px;">担当者別計画</cell>
        <cell class="jsumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="jsumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="jsumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="jsumB" type='ron' style="border-width:1px 1px 1px 0px;"></cell>
        <cell class="jsumB" type='ron' style="border-width:1px 0px 1px 0px;">$Y</cell>
        <cell class="jsumB" type='ron' style="#setSagakuStyle($sagaku)">$sagaku</cell>
        <cell class="jsumB"></cell>
        <cell class="jsumB"></cell>
        <cell class="jsumB"></cell>
        <cell class="jsumB"></cell>
        <cell class="jsumB"></cell>
        #set( $idcnt = $idcnt + 1 )
     </row>
     #end
     ##mmp計
     #if($mmpflg && $DispMMPFlg)
     #set( $sumName = $!resultData.getProdName() )
     <row id='$idcnt'>
        <userdata name="mrange">$mrange</userdata>
        <userdata name="sumRowFlg">true</userdata>
        <cell class="asumB textL" style="border-width:1px 0px 1px 0px;">$sumName</cell>
        <cell class="asumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="asumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="asumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="asumB" style="border-width:1px 0px 1px 0px;"></cell>
        <cell class="asumB" type='ron'>$!resultData.getPlannedValueY()</cell>
        <cell class="asumB" type='ron'>$!resultData.getPlannedValueY2()</cell>
        <cell class="asumB" type='ron' style="#setSagakuStyle($sagaku)">$sagaku</cell>
        <cell class="asumB">$!resultData.getmonNnu0_preFarAdvancePeriod()</cell>
        <cell class="asumB">$!resultData.getmonNnu0_FarAdvancePeriod()</cell>
        <cell class="asumB">$!resultData.getmonNnu0_AdvancePeriod()</cell>
        <cell class="asumB">$!resultData.getmonNnu0_CurrentPeriod()</cell>
        <cell class="asumB"></cell>
        #set( $DispProdCnt = 0 )
        #set( $hrowids =  $hrowids + $mrange )
        #if($formProdCategory.equals("1"))
            #set( $mrange = "" )
        #end
        #set( $mrowids = $mrowids + "," + $idcnt )
        #set( $DispMMPFlg = false )
        #set( $idcnt = $idcnt + 1 )
     </row>
        #set( $oldProdCategory = $resultData.getProdCategory() )
     #end
#end
#end

##集計行
<userdata name="srowids">$srowids</userdata>
<userdata name="hrowids">$hrowids</userdata>
<userdata name="mrowids">$mrowids</userdata>
<userdata name="hiddencnt">$hiddencnt</userdata>
</rows>
#end
