## (医)計画立案準備ダウンロード画面
#set($pageTitle = $text.get("dps920C00","title"))
#set($bodyOnloadMethod = "dps920Onload()")
#set($bodyOnfocusMethod = "return dialogWin.checkModal()")

#set($vaccineCode = $service.getShienVaccineCode())

<script language="javascript">

function dps920Onload(){

## add Start 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能
changeFileType();
## add End 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能

}
## ダウンロード処理
function dps920C00F10(){

    ##確認
    ## mod Start 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能
    ##if (!confirm('$text.get("DPS920C00.001","dialogue")')) {
    ##    return;
    ##}
    if (document.getElementById("fileType").value == '01') {
        if (!confirm('$text.get("DPS920C00.001","dialogue")')) {
            return;
        }
    } else if (document.getElementById("fileType").value == '03') {
        if (!confirm('$text.get("DPS920C00.003","dialogue")')) {
            return;
        }
	} else {
        if (!confirm('$text.get("DPS920C00.002","dialogue")')) {
            return;
        }
	}
    ## mod End 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能

    ##送信
    var actionPath = '$link.setAction('dps920C00F10Output')';
    document.dps920C00Form.action = actionPath;
    document.dps920C00Form.submit();

    return false;
}

## add Start 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能
## ファイル種類を変更した時
function changeFileType() {

## mod Start 2024/2/26 K.Suzuki 2024年2月　チェックツール追加
##    if (document.getElementById("fileType").value == '01') {
    if (document.getElementById("fileType").value == '01' || document.getElementById("fileType").value =='03') {
## mod End 2024/2/26 K.Suzuki 2024年2月　チェックツール追加
	    document.getElementById('trCategory').style.display = 'none';
	} else {
	    document.getElementById('trCategory').style.display = '';
	}
}
## add End 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能

</script>

## コンボボックス
#tabbar("sienKeikakuZyunbi", "dps920C00F00")
<div id="tabBox">
<form name="dps920C00Form" method="post">
<table class="gridLine" cellspacing="0" cellpadding="1">
    <tr>
        <td class="gridIndex" style="width:150px;"> ファイル種類*</td>
        <td>
        <table  cellspacing="0" cellpadding="0">
            <tr>
                 ## mod Start 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能
                 ## <td>#select ("fileType",  $!form.bean.fileTypeList, $!form.bean.fileType)</td>
                 <td>#selectWithFunc ("fileType",  $!form.bean.fileTypeList, $!form.bean.fileType, "changeFileType()")</td>
                 ## mod End 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能
            </tr>
        </table>
        </td>
    </tr>
    ## add Start 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能
    <tr id="trCategory">
        <td class="gridIndex" style="width:150px;">カテゴリ*</td>
        <td>
        <table  cellspacing="0" cellpadding="0">
            <tr>
                <td>#select ("selectCategory",  $!form.bean.prodCategoryList, $!form.bean.selectCategory)</td>
            </tr>
        </table>
        </td>
    </tr>
    ## add End 2022/6/08 H.Futagami バックログNo.4　削除施設・調整あり計画データのダウンロード機能
</table>
## ボタン
<div align="left" style="float: left;width: 100%;">
<table style="margin-top:4px; width: 100%;">
    <tr>
       <td style="width:80px;"><input type="button" value="ダウンロード" style="width:100px;" onclick="dps920C00F10()" " /></td>
       <td></td>
       <td style="width:80px;"><input type="button" value="閉じる" style="width:100px;" onclick="location.href='$link.getContextPath()/app/dps000C00F00'" /></td>

       <td class="label" style="text-align:right;vertical-align:bottom;">&nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>
</div>

## hidden項目
#token()
</form>
##</div>

