#set( $layout = "nothingLayout.vm" )
#if ( $form.getRequestData("DPM401C01_DATA_R"))
    #set( $data = $form.getRequestData("DPM401C01_DATA_R"))
#end
#if ( $form.getRequestData("DPM401C01_DATA_R"))
    #set( $dataList = $form.getRequestData("DPM401C01_DATA_R").getDetailList())
#end
#if($dataList)
$!consts.getDhtmlxGridXmlHeader()
<rows>
##RowId用カウンタ
#set( $idcnt = 1 )
#foreach($resultData in $dataList)
     #set( $q = '"' )
     #set( $inputBgClass = " class='inputB2'" )
     ## 削除予定施設の背景色
     #set( $bgColor = "" )
     #if($resultData.DeletePlan)
        #set( $bgColor = "class='delIns'" )
     #end
     ##
     #set( $enableEdit = false )
     #if($resultData.EnableEdit && $!security.hasAuthEdit("DPM40"))
        #set( $enableEdit = true )
     #end
     ##明細行
     <row id='$idcnt'>
        ##メッセージ見出し用
        <userdata name="prodName">$!resultData.getProdName()</userdata>
        ##ツールチップ用
        <userdata name="toolTip">$!resultData.getUpDateJgiName()&#13;$!format.toString($!resultData.getUpDate(), "yyyy/MM/dd HH:mm:ss")</userdata>
        ##送信データ
        <userdata name="rowIdList">$!resultData.getProdCode(),$!data.insNo,$!data.tmsTytenCd,$!resultData.getSeqKey(),$!resultData.getUpDate().getTime(),$!resultData.getBeforeBaseT()</userdata>
        ##計算、追加用インデックス
        <userdata name="tbChangeRate">$!resultData.getTbChangeRate()</userdata>
        <userdata name="rowType">input</userdata>
        <cell $bgColor>$!resultData.getProdName()</cell>
        <cell $bgColor>$!resultData.getBaseB()</cell>
        <cell $bgColor>$!resultData.getBeforeBaseT()</cell>
        #if($enableEdit)
            <cell$inputBgClass type='#setColType( $!resultData.getBaseT(), "ed" ,"edn")'>$!resultData.getBaseT()</cell>
        #else
            <cell $bgColor type="ron">$!resultData.getBaseT()</cell>
        #end
        #set( $idcnt = $idcnt + 1 )
    </row>
#end
</rows>
#end
