##dpm400C01.vm (ワ)施設特約店別計画編集画面
#set($pageTitle = $text.get("dpm400C01","title"))
#set($bodyOnloadMethod = "dpm400C01F00()")
#set($bodyOnfocusMethod = "return dialogWin.checkModal()")
#set($dataListFileName = "dpm400C01x01.vm")
#set($GridObjName = "dpm400C01Grid")
#set($GridObjName2 = "dpm400C01Grid2")
#set($CoverId = "dpm400C01CoverId")
#set( $dataList = $form.getRequestData("DPM400C01_DATA_R"))
#set( $dataTotal = $form.getRequestData("DPM400C01_DATA_R_TOTAL"))
## 品目名
#set($prodName = "")
#set($prodList = $service.getManageWakutinProdList($form.getField("DPM400C01_PLANLEVEL_INS_WS"),false))
#if($form.bean.prodCode)
#foreach($codeAndValue in $prodList)
    #if($codeAndValue.code == $form.bean.prodCode)
        #set($prodName = "$codeAndValue.value")
    #end
#end
#end
## 施設名
#set($insName = "　")
#if($form.bean.insName && $form.bean.insName != "")
    #set($insName = $form.bean.insName)
#end
## 特約店名
#set($tytenName = "　")
#if($form.bean.tmsTytenName && $form.bean.tmsTytenName != "")
    #set($tytenName = $form.bean.tmsTytenName)
#end
## 府県名
#set($shikuchosonMeiKj = "")
#if($!form.bean.shikuchosonMeiKj && $!form.bean.shikuchosonMeiKj != "")
    #set($shikuchosonMeiKj = $!form.bean.shikuchosonMeiKj)
#end
## 市区町村名
#set($fukenMeiKj = "")
#if($!form.bean.fukenMeiKj && $!form.bean.fukenMeiKj != "")
    #set($fukenMeiKj = $!form.bean.fukenMeiKj)
#end
## 実施計画区分
#set($plannedType = $security.getPlannedType().toString())
#set($plannedTypeStr = "")
#if ($plannedType == "PLANNED_1")
    #set($plannedTypeStr = "実施計画１")
#elseif ($plannedType == "PLANNED_2")
    #set($plannedTypeStr = "実施計画２")
#end
#set($gridHeight = $text.get("${GridObjName}","grid"))
<script language="javascript">
<!--
document.getElementById("closeWindow").value = "true";
var startTime = new Date();
var ${GridObjName};
var ${GridObjName2};
var editFlg = false;
var inspos = 0;
var tmsWidth = 350;

##初期表示＋読込処理
function dpm400C01F00() {
    window.name = "self";
    doInitGrid();
    doInitGrid2();
    #if($dataTotal)
    ${GridObjName2}.addRow(1,"表示施設特約店計",0);
    ${GridObjName2}.setCellTextStyle(1, 0, "border-width: 1px 0px 1px 1px;");
    ${GridObjName2}.setCellTextStyle(1, 1, "border-width: 1px 0px 1px 0px;");
    ${GridObjName2}.setCellTextStyle(1, 2, "border-width: 1px 0px 1px 0px;");
    ${GridObjName2}.setCellTextStyle(1, 3, "border-width: 1px 0px 1px 0px;");
    ${GridObjName2}.setCellTextStyle(1, 4, "border-width: 1px 0px 1px 0px;");
    ${GridObjName2}.setCellTextStyle(1, 5, "border-width: 1px 1px 1px 0px;");
    ${GridObjName2}.setUserData(1,"tyChangeRate","$!dataTotal.getTbChangeRate()");
    for (i = 0; i <= 8; i++) {
        if(i == 0){
            ${GridObjName2}.cells("1", i).cell.className = "psumB textL";
        }else{
            ${GridObjName2}.cells("1", i).cell.className = "psumB";
        }
    }
    #end
    if (document.getElementById("dpm400C01x01.vm")) {
        var loadXMLString = document.getElementById("dpm400C01x01.vm").value;
        if (loadXMLString != null && loadXMLString != "") {
            ${GridObjName}.loadXMLString(loadXMLString);
        }else{
            createDhtmlXGridLodingDelete("${CoverId}");
        }
    }
    ## 担当者・施設のセット
    ## 担当者選択時
    #if ($form.bean.jgiNo && $form.bean.jgiNo != "")
        sosApply("", "$form.bean.jgiNo", "04","$form.bean.etcSosFlg");
    ## チーム選択時
    #elseif ($form.bean.sosCd4 && $form.bean.sosCd4 != "")
        sosApply("$form.bean.sosCd4", "", "04","$form.bean.etcSosFlg");
    ## エリア特約店Ｇ選択時
    #elseif ($form.bean.sosCd3 && $form.bean.sosCd3 != "")
        sosApply("$form.bean.sosCd3", "", "04","$form.bean.etcSosFlg");
    ## 特約店部選択時
    #elseif ($form.bean.sosCd2 && $form.bean.sosCd2 != "")
        sosApply("$form.bean.sosCd2", "", "04","$form.bean.etcSosFlg");
    ## 全社選択時
    #else
       sosApply("", "", "04","$form.bean.etcSosFlg");
    #end
}
function doInitGrid() {
    if (${GridObjName} == null) {
    	${GridObjName} = createDhtmlXGridLodingExt("${GridObjName}", "${CoverId}");
        ${GridObjName}.setHeader(",,,,,,,,");
        ${GridObjName}.setInitWidths("127,130,80,230,90,50,80,80,80");
        ${GridObjName}.setColAlign("left,left,center,left,left,center,right,right,right");
        ${GridObjName}.setColTypes("ro,ro,ro,ro,ro,ro,ron,ron,edn");
        ${GridObjName}.enableResizing("false,false,false,false,false,false,false,false,false");
        ${GridObjName}.enableTooltips("false,false,false,false,false,false,false,false,false");
        ${GridObjName}.setNumberFormat("0,000",6);
        ${GridObjName}.setNumberFormat("0,000",7);
        ${GridObjName}.setNumberFormat("0,000",8);
        ${GridObjName}.enableDistributedParsing(true,150,50);
        ${GridObjName}.enableAutoHeight(true, getGridHeight('dpm400C01', $!gridHeight));
        ${GridObjName}.setSizes();
        ${GridObjName}.setNoHeader(true);
        ${GridObjName}.init();
        ${GridObjName}.enableEditEvents(true, false, true);
        ${GridObjName}.enableBlockSelection();
        ${GridObjName}.forceLabelSelection(true);
        ${GridObjName}.setCSVDelimiter("\t");
        ${GridObjName}.attachEvent("onXLE",function(){
            doAllSum(0);
            /*
            var endTime = new Date();
            var msec = endTime - startTime;
            alert(msec);
            */
            });
        ${GridObjName}.attachEvent("onEditCell",function(stage,rowId,cellInd,newvalue,oldvalue){
            if(stage == 0){
                if(isSumRow(rowId) == "true"){
                    return false;
                }
            }
            if(stage == 1){
                editFlg=true;
                setIme(${GridObjName},rowId,cellInd,"inactive",10);
            }
            if(stage == 2){
                intCheck(${GridObjName},rowId,cellInd,newvalue);
                doCalcYBaseValue(${GridObjName}, rowId, 8, false);
                doSum(rowId,cellInd,newvalue,oldvalue);
            }
            return true;
            });
        ${GridObjName}.attachEvent("onBeforeSelect",function(newId,oldId){
            if(event.type == "click"){
                currentCellSetStyle = function(){};
            }else{
                currentCellSetStyle = function(rowId,cellInd){${GridObjName}.editCell();};
            }
    	    ${GridObjName}.editStop();
            return true;
            });
        ${GridObjName}.attachEvent("onRowSelect",function(rowId,cellInd){
            currentCellSetStyle(rowId,cellInd);
            });
        ${GridObjName}.attachEvent("onKeyPress",function(keycode,ctrl,shift){
            if(!(currentCellMove(${GridObjName},keycode))){return false;}
            copyBlock(${GridObjName}, keycode, ctrl, shift, new Array("8"));
            if (keycode == 86 && ctrl) {
                doAllSum(0);
                editFlg=true;
            }
            return true;
            });
        ${GridObjName}.attachEvent("onMouseOver",function(rowId,cellInd){
            var title = "";
            if(cellInd == 8){
                title = ${GridObjName}.getUserData(rowId,"toolTip");
                if(title == null){
                    title = "";
                }
                ${GridObjName}.cells(rowId,cellInd).cell.title = title;
            }
        });
    }
}

function doInitGrid2() {
    if (${GridObjName2} == null) {
        ${GridObjName2} = createDhtmlXGrid("${GridObjName2}");
        ${GridObjName2}.setHeader("施設特約店計画　$!plannedTypeStr　$!prodName,#cspan,#cspan,#cspan,#cspan,#cspan,#cspan,#cspan,#cspan");
        ${GridObjName2}.attachHeader("市区町村,施設名称,施設固定<br>コード,特約店名称,ＴＭＳ特約店<br>コード,特約店<br>追加,Ｂ価ベース,Ｔ価ベース,#cspan");
        ${GridObjName2}.attachHeader("#rspan,#rspan,#rspan,#rspan,#rspan,#rspan,#rspan,修正前,修正計画");
        ${GridObjName2}.setInitWidths("127,130,80,230,90,50,80,80,80");
        ${GridObjName2}.setColAlign("left,left,center,left,left,center,right,right,right");
        ${GridObjName2}.setColTypes("ro,ro,ro,ro,ro,ro,ron,ron,ron");
        ${GridObjName2}.enableResizing("false,false,false,false,false,false,false,false,false");
        ${GridObjName2}.enableTooltips("false,false,false,false,false,false,false,false,false");
        ${GridObjName2}.setNumberFormat("0,000",6);
        ${GridObjName2}.setNumberFormat("0,000",7);
        ${GridObjName2}.setNumberFormat("0,000",8);
        ${GridObjName2}.enableDistributedParsing(true,150,50);
        ${GridObjName2}.enableAutoHeight(true, 100);
        ${GridObjName2}.objBox.style.overflowX="hidden";
        ${GridObjName2}.objBox.style.overflowY="hidden";
        ${GridObjName2}.init();
        ${GridObjName2}.enableEditEvents(true, false, true);
        ${GridObjName2}.enableBlockSelection();
        ${GridObjName2}.forceLabelSelection(true);
        ${GridObjName2}.setCSVDelimiter("\t");
        ${GridObjName2}.attachEvent("onKeyPress",function(keycode,ctrl,shift){
            copyBlock(${GridObjName2}, keycode, ctrl, shift, new Array("8"));
            return true;
            });
        ${GridObjName2}.attachEvent("onBeforeSelect",function(newId,oldId){return;});
    }
}

##すべての集計対象列に対して計算
function doAllSum(rowId){
    var sumcolumnid = new Array("6","7","8");
    for(c=0; c<sumcolumnid.length; c++){
        doSum(rowId,sumcolumnid[c],1,2);
    }
}
##指定した集計対象列の計算
function doSum(rowId,columnid,oldvalue,newvalue){
    if((!newvalue == "") && oldvalue == newvalue){
        return true;
    }
    ##施設合計
    ##集計行のRowidを取得
    var srowid = ${GridObjName}.getUserData("","srowids").split(",");
    var arowid = ${GridObjName}.getUserData("","arowids").split(",");
    if(rowId != 0){
    i = ${GridObjName}.getUserData(rowId,"bid");
        var srangeid = ${GridObjName}.getUserData(srowid[i],"srange").split(",");
        var sum = 0;
        var sumFlg = false;
        for(j=1; j<srangeid.length; j++){
            value = (${GridObjName}.cells(srangeid[j], columnid).getValue()) - 0;
            if(value.toString() == "NaN"){
                value = 0;
            }
            sum = sum + value;
            if(isEntered(${GridObjName}.cells(srangeid[j], columnid).getValue())){
                sumFlg = true;
            }
        }
        if(!sumFlg){
            sum = "";
        }
        try {
            ${GridObjName}.cells(srowid[i], columnid).setValue(sum);
            doCalcYBaseValue(${GridObjName}, srowid[i], 8, false);
        }catch(e) {
        }
    }else{
        for(var cnt=1; cnt<srowid.length; cnt++){
    	    var srangeid = ${GridObjName}.getUserData(srowid[cnt],"srange").split(",");
            var sum = 0;
            var sumFlg = false;
            for(j=1; j<srangeid.length; j++){
                value = (${GridObjName}.cells(srangeid[j], columnid).getValue()) - 0;
                if(value.toString() == "NaN"){
                    value = 0;
                }
                sum = sum + value;
                if(isEntered(${GridObjName}.cells(srangeid[j], columnid).getValue())){
                    doCalcYBaseValue(${GridObjName}, srangeid[j], 8, false);
                    sumFlg = true;
                }
            }
            if(!sumFlg){
	            sum = "";
            }
            try {
                ${GridObjName}.cells(srowid[cnt], columnid).setValue(sum);
                doCalcYBaseValue(${GridObjName}, srowid[cnt], 8, false);
            }catch(e) {
            }
        }
    }
    var allsum = 0;
    var sumAllFlg = false;
    ##市区町村計
    for(i=1; i<arowid.length; i++){
        var arangeid = ${GridObjName}.getUserData(arowid[i],"arange").split(",");
        var sum = 0;
        var sumFlg = false;
        for(j=1; j<arangeid.length; j++){
            try {
                sum = sum + ((${GridObjName}.cells(arangeid[j], columnid).getValue()) - 0);
            }catch(e) {
            }
            if(isEntered(${GridObjName}.cells(arangeid[j], columnid).getValue())){
                sumFlg = true;
            }
        }
        if(!sumFlg){
            sum = "";
        }else{
            sumAllFlg = true;
        }
        try {
            ${GridObjName}.cells(arowid[i], columnid).setValue(sum);
            doCalcYBaseValue(${GridObjName}, arowid[i], 8, false);
        }catch(e) {
            ##return null;
        }
        if(sum == ""){
            sum = 0;
        }
        allsum = allsum + sum;
    }
    ##表示施設特約店計
    if(!sumAllFlg){
        allsum = "";
    }
    ${GridObjName2}.cells(1, columnid).setValue(allsum);
    doCalcYBaseValue(${GridObjName2}, 1, 8, false);
}

## T価ベースの計算処理
function doCalcYBaseValue(grid, rowId, colId, isSum){
    if(colId != 8){
        return;
    }
    var tyChangeRate = 0;
    if(isSum){
        tyChangeRate = grid.getUserData("","tyChangeRate");
    }else{
    	tyChangeRate = grid.getUserData(rowId,"tyChangeRate");
    }
    calcYBaseValue(grid, rowId, colId, rowId, colId-2, tyChangeRate);
}


## 【検索】組織選択ダイアログ後処理
function sosDialogAfter(sosCd, jgiNo, sosMaxSrchGetValue, etcSosFlg){
    sosApply(sosCd, jgiNo, sosMaxSrchGetValue, etcSosFlg);
    dpm400C01InsNoClear();
    dpm400C01InsNameClear();
}

## 【検索】市区町村選択画面呼出
function dpm913C00F00() {

    var func = "dpm400C01AddrApply";
    var url ="$link.setAction('dpm913C00F00')?fukenApplyFuncName=dpm400C01AddrApply";
    var args = new Array();
    openModalWindowW(url);
    dpm400C01InsNoClear();
    dpm400C01InsNameClear();
    document.getElementById('tmsTytenCdPart').value = '';
    dpm400C01TytenSearchClear();
}

## 【検索】市区町村選択ダイアログ コールバック
function dpm400C01AddrApply(fukenCode,shikuCode,fukenName,shikuName){
    document.getElementById("addrCodePref").value = fukenCode;
    document.getElementById("addrCodeCity").value = shikuCode;
    document.getElementById("shikuchosonMeiKjLabel").innerHTML = "<label>" + fukenName + "　" + shikuName + "</label>";
    document.getElementById("fukenMeiKj").value = fukenName;
    document.getElementById("shikuchosonMeiKj").value = shikuName;
}

## 【検索】市区町村 初期化
function dpm400C01AddrClear(){
    document.getElementById("addrCodePref").value = "";
    document.getElementById("addrCodeCity").value = "";
    document.getElementById("shikuchosonMeiKjLabel").innerHTML = "<label>　</label>";
    document.getElementById("fukenMeiKj").value = "";
    document.getElementById("shikuchosonMeiKj").value = "";
}

## 【検索】施設選択画面呼出
function dpm911C00F00Search() {
    var func = "dpm400C01InsApplySearch";
    var insPtn = "01";
    var ptn = "02";
    var min = "04";
    var max = "04";
    var jgiNo = document.getElementById('jgiNo').value;
    var sosInitSosCodeValue = document.getElementById('initSosCodeValue').value;
    var url ='$link.setAction('dpm911C00F00')' + '?insApplyFuncName=' + func + '&insSelectPtnType=' + insPtn + '&sosSrchPtnType=' + ptn + '&sosMinSrchValue=' + min + '&sosMaxSrchGetValue=' + max + '&sosInitSosCodeValue=' + sosInitSosCodeValue + '&paramJgiNo=' + jgiNo + '&sosSearchNonFlg=false&paramJtnFlg=false&disableMallInsSelect=true';
    var args = new Array();
    openModalWindowW(url, func, args);
}

## 【検索】施設選択ダイアログ コールバック
function dpm400C01InsApplySearch(insNo, jgiNo, insName){
    document.getElementById("insNo").value = insNo;
    document.getElementById("insNameLabel").innerHTML = "<label>" + insName + "</label>";
    document.getElementById('insName').value = insName;
    sosApply("", jgiNo, "04");

    ## 施設情報取得
    var url ="$link.setAction('dpm911C00F10')";
    url = url.concat("?sFlg=true");
    url = url.concat("&jgiNo=").concat(jgiNo);
    url = url.concat("&insNo=").concat(insNo);
    var insResult = getPage(url);

    ## 活動区分、府県コード、市区町村コード、市区町村名 設定
    var insResultArray = insResult.split(",");
    var activityType = insResultArray[8];
    var fukenCode = insResultArray[6];
    var shikuCode = insResultArray[7];
    var shikuchosonMeiKj = insResultArray[5];
    var fukenMeiKj = insResultArray[9];
    if(activityType == "IPPAN"){
            document.getElementById("activityType").selectedIndex = 1;
    }else{
            document.getElementById("activityType").selectedIndex = 0;
    }

    ## 市区町村設定
    dpm400C01AddrApply(fukenCode,shikuCode,fukenMeiKj,shikuchosonMeiKj);
}

## 【検索】施設名 初期化
function dpm400C01InsNameClear(){
    document.getElementById("insNameLabel").innerHTML = "<label>　</label>";
    document.getElementById('insName').value = "";
}
## 【検索】施設コード 初期化
function dpm400C01InsNoClear(){
    document.getElementById('insNo').value = "";
}

## 【検索】特約店選択ダイアログを開く
function openTytenSearchDialog(){
    var url = '${link.setAction("dpm912C00F00")}?tmsSelectMode=$tmsselect.getGrayAndEnableButtonMode()&tytenApplyFuncName=dpm400C01TytenSearchApply';
    openModalWindowW(url);
}

## 【検索】特約店選択ダイアログ コールバック
function dpm400C01TytenSearchApply(tytenCd, tytenName){
    document.getElementById("tmsTytenCd").value = tytenCd;
    document.getElementById("tmsTytenCdPart").value = removeZeroBlankFromEnd(tytenCd);
    document.getElementById("tmsTytenName").value = tytenName;
    document.getElementById("tmsTytenNameLabel").innerHTML = "<label>" + tytenName + "</label>";
}

## 【検索】特約店選択ダイアログ 初期化
function dpm400C01TytenSearchClear(){
    document.getElementById("tmsTytenCd").value = "";
    document.getElementById("tmsTytenName").value = "";
    document.getElementById("tmsTytenNameLabel").innerHTML = "<label>　</label>";
}

##特約店追加
function dpm400C01TytenApply(TytenCd,TytenName) {
    var args = TytenCd.split(",");
    var args2 = TytenName.split(",");
    if(!(args == "")) {
        var bid = inspos;
        var srowids = ${GridObjName}.getUserData("","srowids").split(",");
        var srowid = srowids[inspos];
        var srangeid = ${GridObjName}.getUserData(srowid,"srange").split(",");
        var checkCdList = ${GridObjName}.getUserData(srowid,"checkCdList").split(",");
        var insposid = srangeid[srangeid.length-1];
        var insposindex = ${GridObjName}.getRowIndex(insposid);
        inspos = insposindex + 1;
        var newids = "";
        ${GridObjName}.addRow(9999,"",(inspos));
        for(i=0; i<args.length; i++){
            for(j=0;j<checkCdList.length;j++){
                if(args[i] == checkCdList[j]){
                    ${GridObjName}.deleteRow(9999);
                    inspos = bid;
                    return "登録済み、または追加済みです";
                }
            }
            newid = ${GridObjName}.getRowsNum();
            if(arguments != 'undefined' &&  arguments != null && arguments.length == 3 && arguments[2]) {
                if (arguments[2] == 'true') {
                    ${GridObjName}.setUserData(newid,"planTaiGaiFlgTok",arguments[2]);
                    args2[i] = '$tmsselect.getPlanTaiGaiLabel()' + args2[i];
                }
            }
            text = getData(args[i],args2[i]);
            var upId = ${GridObjName}.getRowId(inspos - 1);
            var addFlg = false;
            ##//上の行の特約店名が空白なら施設名、ボタンをtextに追加して空白行削除
            if(${GridObjName}.cells(upId,3).getValue() == ""){
                text = ${GridObjName}.cells(upId,0).getValue() + "," + ${GridObjName}.cells(upId,1).getValue()+ "," + ${GridObjName}.cells(upId,2).getValue() + "," + text +  "," + ${GridObjName}.cells(upId,5).getValue();
                var _insName = ${GridObjName}.getUserData(upId,"insName");
                var _rowIdListArray = ${GridObjName}.getUserData(upId,"rowIdList").split(",");
                _rowIdListArray[1] = args[i];
                _rowIdListArray[3] = null;
                _rowIdListArray[4] = null;
                _rowIdListArray[5] = null;
                ${GridObjName}.deleteRow(upId);
                newid = upId;
                upId = upId - 1;
                inspos = inspos -1;;
                ${GridObjName}.setUserData(newid,"insName",_insName);
                ${GridObjName}.setUserData(newid,"rowIdList",_rowIdListArray.join(","));
                addFlg = true;
            }else{
                text = ",,," + text;
            }
            ${GridObjName}.addRow(newid,text,(inspos + i));
            setStyle(newid,upId,addFlg);
            newids = newids + "," + newid;
            ${GridObjName}.deleteRow(9999);
            if(!addFlg){
                ${GridObjName}.setUserData(newid,"insName",${GridObjName}.getUserData(upId,"insName"));
                var rowIdListArray = ${GridObjName}.getUserData(upId,"rowIdList").split(",");
                rowIdListArray[1] = args[i];
                rowIdListArray[3] = null;
                rowIdListArray[4] = null;
                rowIdListArray[5] = null;
                ${GridObjName}.setUserData(newid,"rowIdList",rowIdListArray.join(","));
                ${GridObjName}.setUserData(srowid,"srange",(srangeid + newids));
            }else{
                ${GridObjName}.setUserData(srowid,"srange",(newids));
            }
            ${GridObjName}.setUserData(srowid,"checkCdList",(checkCdList + "," + args[i]));
            ${GridObjName}.setUserData(newid,"bid",bid);
            ${GridObjName}.setUserData(newid,"rowType","input");
            ${GridObjName}.setUserData(newid,"subTotalId",bid);
            ${GridObjName}.setUserData(newid,"tmsTytenName",args2[i]);
            ${GridObjName}.setUserData(newid,"tmsTytenCd",args[i]);
            ${GridObjName}.setUserData(newid,"sumRowFlg","false");
            ${GridObjName}.setUserData(newid,"tyChangeRate","$!dataTotal.getTbChangeRate()");
            intCheck(${GridObjName},newid,8,"");

            ## 登録ボタン有効化
            var registBtn = document.getElementById('regist');
            if(registBtn.disabled == true){
                registBtn.disabled = false;
            }
        }
    }
}
##特約店データ取得
function getData(TytenCd,TytenName) {
    var result = TytenName + "," + TytenCd;
    return result;
}
##追加した行にスタイルを設定
function setStyle(newid,upId,addFlg){
	colnum = ${GridObjName}.getColumnsNum();
    for(j=0;j<colnum;j++){
        if((j <= 2 && j>=0) || j==5){
	        ${GridObjName}.setCellTextStyle(newid, j, "border-width: 0px 1px 0px 1px;");
        }
        if(j==6){
        	${GridObjName}.setCellExcellType(newid, j, "ron");
	    }
        if(j==7){
        	${GridObjName}.setCellExcellType(newid, j, "ron");
	    }
        if(j==8){
        	${GridObjName}.cells(newid,j).cell.className = "inputB2";
        	${GridObjName}.setCellExcellType(newid, j, "ed");
	    }else if(!addFlg){
            var className = ${GridObjName}.cells(upId,j).cell.className;
	    	${GridObjName}.cells(newid,j).cell.className = className;
        }else{
        	${GridObjName}.cells(newid,j).cell.className = "";
        }
    }
}

## 施設追加画面呼出
function dpm911C00F00() {
    var func = "dpm400C01InsApply";
    var insPtn = "01";
    var ptn = "02";
    var min = "02";
    var max = "04";
    #if($form.bean.sosCd4 && $form.bean.sosCd4 != "")
	    var sosInitSosCodeValue = "$!form.bean.sosCd4";
    #else
    	var sosInitSosCodeValue = "$!form.bean.sosCd3";
    #end
    var jgiNo = "$!form.bean.jgiNo";
    var addrCodePref = "$!form.bean.addrCodePref";
    var addrCodeCity = "$!form.bean.addrCodeCity";

    ## 一般先/重点先 指定
    #if ($form.bean.activityType && $form.bean.activityType == "1")
        var jtnFlg = "true";
        var ippanFlg = "false";
    #elseif ($form.bean.activityType && $form.bean.activityType == "2")
        var jtnFlg = "false";
        var ippanFlg = "true";
    #else
        var jtnFlg = "false";
        var ippanFlg = "false";
    #end

    var url ="$link.setAction('dpm911C00F00')";
    url = url.concat("?insApplyFuncName=").concat(func);
    url = url.concat("&insSelectPtnType=").concat(insPtn);
    url = url.concat("&sosSrchPtnType=").concat(ptn);
    url = url.concat("&sosMinSrchValue=").concat(min);
    url = url.concat("&sosMaxSrchGetValue=").concat(max);
    url = url.concat("&sosInitSosCodeValue=").concat(sosInitSosCodeValue);
    url = url.concat("&paramJgiNo=").concat(jgiNo);
    url = url.concat("&paramJtnFlg=").concat(jtnFlg);
    url = url.concat("&paramIppanFlg=").concat(ippanFlg);
    url = url.concat("&sosSearchNonFlg=").concat("true");
    url = url.concat("&paramAddrCodePref=").concat(addrCodePref);
    url = url.concat("&paramAddrCodeCity=").concat(addrCodeCity);
    url = url.concat("&disableDelInsSelect=").concat("true");
    url = url.concat("&disableMallInsSelect=").concat("true");

    var args = new Array();
    openModalWindowW(url, func, args);
}

function dpm400C01InsApply(insNo, jgiNo, insName){
        args = insNo;
        var insApplyFlg = true;
        text = getDataInsApply(args, jgiNo);
        if(text != ""){
            var resultArray = text.split(",");
            var addrName = resultArray[0];
            var addr1 = resultArray[1];
            var addr2 = resultArray[2];
            var addrCode = addr1 + addr2;
            ##重複チェック
            ${GridObjName}.forEachRow(function(id){
                if((${GridObjName}.getUserData(id,"addrCode")) == addrCode && (${GridObjName}.cells(id,2).getValue()) == args && insApplyFlg){
                    insApplyFlg  = false;
                }
            });
            if(insApplyFlg){
                var rowNums = ${GridObjName}.getRowsNum();
                var insApplyInd = 0;
                var insApplyId = 0;
                var insApplyFlg2 = false;
                for (rowInd = 0; rowInd < ${GridObjName}.getRowsNum(); rowInd++) {
                    var id = ${GridObjName}.getRowId(rowInd);
                    if((${GridObjName}.getUserData(id,"addrCode")) == addrCode && !(insApplyFlg2)){
                        insApplyInd = rowInd;
                        insApplyId = id;
                        insApplyFlg2 = true;
                    }
                }
                ##rowType
                var rowType = "input";
                ##subTotalId
                if(!insApplyFlg2){
                    var subTotalId = ${GridObjName}.getUserData(rowNums,"subTotalId") - 0 + 1;
                }else{
                    var subTotalId = ${GridObjName}.getUserData(insApplyId ,"subTotalId") - 0;
                }
                ##ty変換率
                var tyChangeRate = "$!dataTotal.getTbChangeRate()";
                ##更新用ユーザデータ
                var rowIdListArray = new Array();
                rowIdListArray[0] = insNo;
                rowIdListArray[1] = null;
                rowIdListArray[2] = "$!form.bean.prodCode";
                rowIdListArray[3] = null;
                rowIdListArray[4] = null;
                rowIdListArray[5] = null;
                var rowIdList = rowIdListArray.join(",");
                ##特約店追加ボタン
                if(${GridObjName}.getUserData("","srowids")){
                    var srowids = ${GridObjName}.getUserData("","srowids").split(",");
                }else{
                    var srowids = new Array();
                    srowids.push("");
                }
                var tytenAddBtn = "<input type='button' value='追加' onClick='inspos = " + srowids.length + ";openModalWindowW(\"${link.setAction('dpm912C00F00')}?tytenApplyFuncName=dpm400C01TytenApply\")' />"
                var newid = rowNums + 1;
                ${GridObjName}.addRow(newid, addrName + "," + insName + "," + insNo + ",,," + tytenAddBtn, insApplyInd);
                ${GridObjName}.setUserData(newid, "insName", insName);
                ${GridObjName}.setUserData(newid, "rowType", rowType);
                ${GridObjName}.setUserData(newid, "subTotalId", subTotalId);
                ${GridObjName}.setUserData(newid, "tyChangeRate", tyChangeRate);
                ${GridObjName}.setUserData(newid, "rowIdList", rowIdList);
                ${GridObjName}.setUserData(newid, "addrCode", addrCode);
                ${GridObjName}.setUserData(newid, "ShikuchosonMeiKj", addrName);
                ${GridObjName}.setCellExcellType(newid, 8, "ed");
                ##施設計追加
                ${GridObjName}.addRow(newid + 1,",,,施設合計,",insApplyInd + 1);
                srowids.push(newid + 1);
                ${GridObjName}.setUserData("", "srowids", srowids.join(","));
                ${GridObjName}.setUserData(newid + 1, "srange", "," + newid);
                ${GridObjName}.setUserData(newid + 1, "checkCdList", "");
                ${GridObjName}.setUserData(newid + 1, "tyChangeRate", tyChangeRate);

                ${GridObjName}.setCellExcellType(newid + 1, 8, "ron");
                ${GridObjName}.setCellTextStyle(newid + 1, 0, "border-width: 1px 1px 0px 1px;");
                ${GridObjName}.setCellTextStyle(newid, 1, "border-width: 1px 1px 0px 1px;");
                ${GridObjName}.setCellTextStyle(newid, 2, "border-width: 1px 1px 0px 1px;");
                ${GridObjName}.setCellTextStyle(newid + 1, 3, "border-width: 1px 0px 1px 1px;");
                ${GridObjName}.setCellTextStyle(newid + 1, 4, "border-width: 1px 0px 1px 0px;");
                ${GridObjName}.setCellTextStyle(newid + 1, 5, "border-width: 1px 1px 1px 0px;");

                ##新規市区町村施設の場合、市区町村計追加
                if(!insApplyFlg2){
                    ##rowType
                    var _rowType = "subTotal";
                    ##subTotalId
                    var _subTotalId = subTotalId;
                    ##ty変換率
                    var _tyChangeRate = "$!dataTotal.getTbChangeRate()";
                    ${GridObjName}.addRow(newid + 2,",市区町村計,",insApplyInd + 2);
                    ${GridObjName}.setUserData(newid + 2, "rowType", _rowType);
                    ${GridObjName}.setUserData(newid + 2, "subTotalId", _subTotalId);
                    ${GridObjName}.setUserData(newid + 2, "tyChangeRate", _tyChangeRate);
                    ##施設計を計算範囲に追加
                    if(${GridObjName}.getUserData("","arowids")){
                        var arowids = ${GridObjName}.getUserData("","arowids").split(",");
                    }else{
                        var arowids = new Array();
                        arowids.push("");
                    }
                    arowids.push(newid + 2);
                    ${GridObjName}.setUserData("", "arowids", arowids.join(","));
                    ${GridObjName}.setUserData(newid + 2, "arange", "," + (newid + 1));
                    ${GridObjName}.setCellExcellType(newid + 2, 8, "ron");
                    ${GridObjName}.setCellTextStyle(newid + 2, 1, "border-width: 1px 0px 1px 1px;");
                    ${GridObjName}.setCellTextStyle(newid + 2, 2, "border-width: 1px 0px 1px 0px;");
                    ${GridObjName}.setCellTextStyle(newid + 2, 3, "border-width: 1px 0px 1px 0px;");
                    ${GridObjName}.setCellTextStyle(newid + 2, 4, "border-width: 1px 0px 1px 0px;");
                    ${GridObjName}.setCellTextStyle(newid + 2, 5, "border-width: 1px 1px 1px 0px;");
                }else{
                    ##施設計を計算範囲に追加
                    var aid = getSubTotalIdDown(${GridObjName},newid);
                    var arange = ${GridObjName}.getUserData(aid,"arange").split(",");
                    arange.push(newid + 1);
                    ${GridObjName}.setUserData(aid, "arange", arange.join(","));
                }
                ${GridObjName}.cells2(insApplyInd + 1, 0).setValue("");
                ${GridObjName}.cells2(insApplyInd + 2, 0).setValue("");
                ${GridObjName}.setCellExcellType(newid, 8, "ron");
                ${GridObjName}.setCellTextStyle(newid, 0, "border-width: 1px 1px 0px 1px;");
                ${GridObjName}.setCellTextStyle(newid, 5, "border-width: 1px 1px 0px 1px;");
            }else{
            	return "すでに入力欄が存在します";
            }
        }

}

##施設データ取得
function getDataInsApply(insNo,jgiNo) {
    var url ="$link.setAction('dpm911C00F10?sFlg=true')" + "&insNo=" + insNo + "&jgiNo=" + jgiNo;
    var text = getPage(url);
    var resultArray = text.split(",");
    if(resultArray[6] == undefined){
        alert("施設情報を取得できません");
        result = "";
    }else{
        var result = resultArray[5] + ',' + resultArray[6] + ',' + resultArray[7];
    }
    return result;
}


##集計行か判断する
function isSumRow(RowId){
    return ${GridObjName}.getUserData(RowId,"sumRowFlg");
}
##カレントセルのスタイルを指定する。
function currentCellSetStyle(rowId,cellInd){
    ${GridObjName}.editCell();
}

## 検索処理
function dpm400C01F05() {
    if (searchValidation()) {
        if (editFlg) {
            if (!window.confirm('$text.get("DPC999C99.001","dialogue")')) {
                return;
            }
        }
        var actionPath = "$link.setAction('dpm400C01F05')";
        document.dpm400C01F05Form.action = actionPath;
        document.dpm400C01F05Form.submit();

        dpm400C01F05 = blockIt;
        dpm400C01F10Excecute = blockIt;
    }
}

## 検索時入力チェック
function searchValidation() {
    ## 入力フォーム
    var form = document.dpm400C01F05Form;

    var errorMsg = "";
    var isAdded = false;

    ## 従業員番号
    var jgiNo = form.jgiNo.value;
    ## 施設コード
    var insNo = form.insNo.value;

    ## [必須]担当者または施設コード
    if(!isAdded){
        if(insNo == "" && jgiNo == "" && form.sosCd3.value == "") {
            errorMsg = '$text.get("DPC1006E",["担当者または施設コード"])';
            isAdded = addErrorInfo(!isEntered(""), errorMsg)
        }
    }
    if(insNo != "") {
        ## [数値]施設コード
        if(!isAdded){
            errorMsg = '$text.get("DPC1004E",["施設コード","半角数字"])';
            isAdded = addErrorInfo(!isNumber(insNo), errorMsg)
        }
    }else{

        var index = form.activityType.selectedIndex;
        if(form.activityType.options[index].text == "一般先"){
            ## [必須]一般先が選択されている、かつ、担当者までが選択されていない
            value = form.jgiNo.value;
            errorMsg = '$text.get("DPC1024E",["組織・担当者","担当者"])';
            existError = addErrorInfo(!(isEntered(value)), errorMsg);
            ## [必須]一般先が選択されている、かつ、市区町村、特約店コードのいずれも選択されていない
            value = form.addrCodePref.value;
            value2 = form.addrCodeCity.value;
            value3 = form.tmsTytenCdPart.value;
            errorMsg = '$text.get("DPC1006E",["市区町村または特約店コード"])';
            var addrCodeCheck = isEntered(value) && isEntered(value2);
            var TytenCodeCheck = isEntered(value3);
            existError = addErrorInfo(!(addrCodeCheck || TytenCodeCheck), errorMsg);
        }else{
            ## [必須]重点先が選択されている、かつ、エリア特約店Gまでが選択されていない
            value = form.sosCd3.value;
            errorMsg = '$text.get("DPC1025E",["組織・担当者","エリア特約店Ｇ","担当者"])';
            existError = addErrorInfo(!(isEntered(value)), errorMsg);
        }
    }
    if(form.tmsTytenCdPart.value != "") {
        ## [数値]特約店コード
        if(!isAdded){
            errorMsg = '$text.get("DPC1004E",["特約店コード","半角数字"])';
            isAdded = addErrorInfo(!isNumber(form.tmsTytenCdPart.value), errorMsg)
        }
        ## [桁数] 入力特約店コード
        if(!isAdded){
            value = form.tmsTytenCdPart.value;
            errorMsg = '$text.get("DPC1027E",["特約店コード","3,5,7,9,11,13"])';
            isAdded = addErrorInfo(!isTmsTytenCdLength(value), errorMsg);
        }
    }
    ## [必須] 重点先/一般先
    value = form.activityType.value;
    errorMsg = '$text.get("DPC1003E",["重点先/一般先"])';
    addErrorInfo(!isEntered(value), errorMsg);
    ## [必須] 品目
    value = form.prodCode.value;
    errorMsg = '$text.get("DPC1003E",["品目"])';
    addErrorInfo(!isEntered(value), errorMsg);
    return validation();
}

## 更新処理
function dpm400C01F10Excecute() {
    ##入力チェック
    if (!ExcecuteValidation()) {
        return;
    }
    ##確認
    if (!confirm('$text.get("DPM400C01.001","dialogue")')) {
        return;
    }
    //rowIdList→rowIdList
    var form = document.dpm400C01Form;
    ## ユーザデータに編集後の計画値を追加
    var rowNum = ${GridObjName}.getRowsNum();
    for (i = 0; i < rowNum; i++) {
        ##//i番目の列のrowIdを取得
        var rowId = ${GridObjName}.getRowId(i);
        ##//指定項目のみ取得し、hiddenをformに追加
        ##//集計行じゃないかつ特約店が追加済み場合
        if(${GridObjName}.getUserData(rowId, "rowType") == "input" && (${GridObjName}.getUserData(rowId, "tmsTytenName") != null && ${GridObjName}.getUserData(rowId, "tmsTytenName") != "")){
            var value = ${GridObjName}.cells(rowId, 8).getValue();
            var planTaiGaiFlgTok = ${GridObjName}.getUserData(rowId, "planTaiGaiFlgTok");
            if (planTaiGaiFlgTok != 'undefined' && planTaiGaiFlgTok != null && planTaiGaiFlgTok != '' && planTaiGaiFlgTok == 'true') {
                if (value != 'undefined' && value != null && value != '') {
                    alert('$text.get("DPM999C00.001","dialogue")');
                    return;
                }
            }
            var rowIdList = ${GridObjName}.getUserData(rowId, "rowIdList");
            var sendvalue = rowIdList + "," + value;
            var element = document.createElement('input');
            element.type = "hidden";
            element.name = "rowIdList";
            element.value = sendvalue;
            form.appendChild(element);
        }
    }
    ##送信
    form.action = '$link.setAction("dpm400C01F10Excecute")';
    form.submit();

    dpm400C01F05 = blockIt;
    dpm400C01F10Excecute = blockIt;
}

## 更新時入力チェック
function ExcecuteValidation() {
    var rowNum = ${GridObjName}.getRowsNum();
    for (i = 0; i < rowNum; i++) {
        var id = ${GridObjName}.getRowId(i);
        ## メッセージ準備
        var rowInfo = "";
        rowInfo = ${GridObjName}.getUserData(id,"insName") + "【" + ${GridObjName}.getUserData(id,"tmsTytenName") + "】";
        ## エラーチェック
        if(${GridObjName}.getUserData(id,"rowType") == "input"){
        	## [T価ベース]
            var checkValue = ${GridObjName}.cells(id, 8).getValue().toString();
            amountValidationNotTailCheck("", checkValue, 10, true, rowInfo);
        	## [B価ベース]
            var tyChangeRate = ${GridObjName}.getUserData(id,"tyChangeRate");
            var checkValue = getYBaseValue(checkValue, tyChangeRate);
            amountValidationNotTailCheckNotInputNotDisp(rowInfo, checkValue, 10, true, "B価");
        }
    }
    return validation();
}
//-->
</script>

<div id="noTabBox">
<div class="disp" style="padding:0px;margin:5px;">
<div align="left" style="float: left;width: 100%;">
<form name="dpm400C01F05Form" action="$link.setAction('dpm400C01F05')" method="post" style="padding:0px;margin-bottom:5px;">

<input type="hidden" name="shikuchosonMeiKj" id="shikuchosonMeiKj" value="$!form.bean.shikuchosonMeiKj" />
<input type="hidden" name="fukenMeiKj" id="fukenMeiKj" value="$!form.bean.fukenMeiKj" />
<input type="hidden" name="addrCodePref" id="addrCodePref" value="$!form.bean.addrCodePref" />
<input type="hidden" name="addrCodeCity" id="addrCodeCity" value="$!form.bean.addrCodeCity" />
<input type="hidden" name="insName" id="insName" value="" />
<input type="hidden" name="tmsTytenName" id="tmsTytenName" value="" />
<input type="hidden" name="tmsTytenCd" id="tmsTytenCd" value="$!form.bean.tmsTytenCd" />
<input type="hidden" name="planData" id="planData" value="" />

<input type="hidden" id="sosCd3Tran" name="sosCd3Tran" value="$!form.bean.sosCd3Tran">
<input type="hidden" id="sosCd4Tran" name="sosCd4Tran" value="$!form.bean.sosCd4Tran">
<input type="hidden" id="jgiNoTran" name="jgiNoTran" value="$!form.bean.jgiNoTran">
<input type="hidden" id="etcSosFlgTran" name="etcSosFlgTran" value="$!form.bean.etcSosFlgTran">
<input type="hidden" id="activityTypeTran" name="activityTypeTran" value="$!form.bean.activityTypeTran">
<input type="hidden" id="addrCodePrefTran" name="addrCodePrefTran" value="$!form.bean.addrCodePrefTran">
<input type="hidden" id="addrCodeCityTran" name="addrCodeCityTran" value="$!form.bean.addrCodeCityTran">
<input type="hidden" id="prodCodeTran" name="prodCodeTran" value="$!form.bean.prodCodeTran">
<input type="hidden" id="insNoTran" name="insNoTran" value="$!form.bean.insNoTran">
<input type="hidden" id="tmsTytenCdTran" name="tmsTytenCdTran" value="$!form.bean.tmsTytenCdTran">
<table class="gridLine" style="float: left; margin-right: 10px;" cellspacing="0" cellpadding="1">
    <tr>
        <td class="gridIndex" style="width: 100px;">組織・担当者*</td>
        <td>#sosDialogExt2("sosDialogAfter", "02", "02", "04", "DPM40")</td>
    </tr>
    <tr>
        <td class="gridIndex" style="width: 100px;">重点先/一般先*</td>
        <td>#select ("activityType", $form.bean.activityTypes, $!form.bean.activityType)</td>
    </tr>
    <tr>
        <td class="gridIndex" style="width: 100px;">市区町村</td>
        <td>
        <table cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
            <tr>
                <td>
                <table class="gridLine" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                    <tr>
                        <td style="width: 270px;">
                            <nobr><label id="shikuchosonMeiKjLabel">$fukenMeiKj　$shikuchosonMeiKj</label></nobr>
                        </td>
                    </tr>
                </table>
                </td>
                <td style="padding: 0px 5px 0px 5px"><input type="button" value="選択" onclick="dpm913C00F00();" style="width: 80px;" /></td>
                <td style="padding: 0px 5px 0px 5px"><a href="#" onclick="dpm400C01AddrClear();">クリア</a></td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td class="gridIndex" style="width: 100px;">品目*</td>
        <td>#select ("prodCode", $prodList, $!form.bean.prodCode)</td>
    </tr>
</table>
<table class="gridLine" cellspacing="0" cellpadding="1">
    <tr>
        <td class="gridIndex" style="width: 100px;">施設</td>
        <td>
        <table cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
            <tr>
                <td>
                <table class="gridLine" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                    <tr>
                        <td style="width: 270px;">
                            <nobr><label id="insNameLabel">$insName</label></nobr>
                        </td>
                    </tr>
                </table>
                </td>
                <td style="padding: 0px 5px 0px 5px"><input type="button" value="選択" style="width: 80px;" onclick="dpm911C00F00Search()"/></td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td class="gridIndex" style="width: 100px;">施設コード</td>
        <td>
        <table cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
            <tr>
                <td>
                    <input type="text" name="insNo" id="insNo" value="$!form.bean.insNo" size="20" maxlength="14" style="ime-mode: disabled"  onChange="dpm400C01InsNameClear();" />
                </td>
                <td style="padding: 0px 5px 0px 5px"><a href="#" onclick="dpm400C01InsNameClear();dpm400C01InsNoClear();">クリア</a></td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td class="gridIndex" style="width: 100px;">特約店</td>
        <td>
        <table cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
            <tr>
                <td>
                <table class="gridLine" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                    <tr>
                        <td style="width: 270px;">
                            <nobr><label id="tmsTytenNameLabel">$tytenName</label></nobr>
                        </td>
                    </tr>
                </table>
                </td>
                <td style="padding: 0px 5px 0px 5px"><input type="button" value="選択" style="width: 80px;" onclick="openTytenSearchDialog()"/></td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td class="gridIndex" style="width: 100px;">特約店コード</td>
        <td>
        <table cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
            <tr>
                <td>
                    <input type="text" name="tmsTytenCdPart" id="tmsTytenCdPart" value="$!form.bean.tmsTytenCdPart" size="20" maxlength="13" style="ime-mode: disabled" onchange="dpm400C01TytenSearchClear()" />
                </td>
                <td style="padding: 0px 5px 0px 5px"><a href="#" onclick="document.getElementById('tmsTytenCdPart').value = '';dpm400C01TytenSearchClear()">クリア</a></td>
            </tr>
        </table>
        </td>
    </tr>
</table>
<table style="margin-top: 2px; margin-bottom: 2px; float: left; width: 100%;">
    <tr>
        <td style="width: 85px;"><input type="button" value="表示" style="width: 80px;" onclick="dpm400C01F05()" /></td>
        #if($!security.hasAuthEdit("DPM40"))
        #if ($form.getRequestData("DPM400C01_ENABLE_INS_ENTRY"))
            <td  style="width: 85px;"><input type="button" value="施設追加" style="width: 80px;" onclick="dpm911C00F00()" /></td>
        #else
            <td  style="width: 85px;"><input type="button" value="施設追加" style="width: 80px;" onclick="dpm911C00F00()" disabled /></td>
        #end
        #if ($dataList)
            <td  style="width: 85px;"><input type="button" name="regist" value="登録" style="width: 80px;" onclick="dpm400C01F10Excecute()" /></td>
        #else
            <td  style="width: 85px;"><input type="button" name="regist" value="登録" style="width: 80px;" onclick="dpm400C01F10Excecute()" disabled /></td>
        #end
        #end
        <td style="width: 20px;"></td>
        <td class="delIns" style="border: 1px solid #000000; width: 80px;">&nbsp;</td>
        <td style="padding-right: 10px;"><label>：削除予定施設</label></td>
        <td style="text-align: right; vertical-align: bottom;"><label>$consts.tableHeader</label></td>
    </tr>
</table>
</form>
<div id="${GridObjName2}" style="width: 99.5%; clear: both;"></div>
#loadingGridDiv2("${GridObjName}", "${CoverId}", "width: 99.5%; clear: both;")
</div>
</div>
<div style="display: none;">
<form name="dpm400C01Form" action="$!{link.setAction('dpm400C01F10Excecute')}" method="post">
    #token()
</form>
</div>
