## (医)組織別計画編集画面 集計行
#set($layout = "nothingLayout.vm" )
#if ($form.getRequestData("DPM500C00_DATA_R_SEARCH_RESULT"))
    #set( $resultObj = $form.getRequestData("DPM500C00_DATA_R_SEARCH_RESULT").detailTotal)
#end
#if ($form.getRequestData("DPM500C00_DATA_R_SEARCH_RESULT"))
    #set( $bumonFlag = $form.getRequestData("DPM500C00_DATA_R_BUMON_FLAG"))
#end
#if($resultObj)
$!consts.getDhtmlxGridXmlHeader()
<rows>
#set( $rowId = 1 )
    ## 期別計画
    #set($plannedTermValue = "")
    #if($resultObj.plannedTermValue)
        #set($plannedTermValue = $resultObj.plannedTermValue)
    #end

    ## 月初計画_積上【1月目】
    #set($plannedStacked1Value = "")
    #if($resultObj.plannedStacked1Value)
         #set($plannedStacked1Value = $resultObj.plannedStacked1Value)
    #end

    ## 月初計画_計画【1月目】
    #set($planned1ValueYb = "")
    #set($planned1ValueYbType = "ed")
    #if($resultObj.planned1ValueYb)
        #set($planned1ValueYb = $resultObj.planned1ValueYb)
        #set($planned1ValueYbType = "edn")
    #end

    ## 月末見込_積上【1月目】
    #set($expectedStacked1Value = "")
    #if($resultObj.expectedStacked1Value)
        #set($expectedStacked1Value = $resultObj.expectedStacked1Value)
    #end

    ## 月末見込_計画【1月目】
    #set($expected1ValueYb = "")
    #set($expected1ValueYbType = "ed")
    #if($resultObj.expected1ValueYb)
        #set($expected1ValueYb = $resultObj.expected1ValueYb)
        #set($expected1ValueYbType = "edn")
    #end

    ## 月初計画_積上【2月目】
    #set($plannedStacked2Value = "")
    #if($resultObj.plannedStacked2Value)
         #set($plannedStacked2Value = $resultObj.plannedStacked2Value)
    #end

    ## 月初計画_計画【2月目】
    #set($planned2ValueYb = "")
    #set($planned2ValueYbType = "ed")
    #if($resultObj.planned2ValueYb)
        #set($planned2ValueYb = $resultObj.planned2ValueYb)
        #set($planned2ValueYbType = "edn")
    #end

    ## 月末見込_積上【2月目】
    #set($expectedStacked2Value = "")
    #if($resultObj.expectedStacked2Value)
        #set($expectedStacked2Value = $resultObj.expectedStacked2Value)
    #end

    ## 月末見込_計画【2月目】
    #set($expected2ValueYb = "")
    #set($expected2ValueYbType = "ed")
    #if($resultObj.expected2ValueYb)
        #set($expected2ValueYb = $resultObj.expected2ValueYb)
        #set($expected2ValueYbType = "edn")
    #end

    ## 月初計画_積上【3月目】
    #set($plannedStacked3Value = "")
    #if($resultObj.plannedStacked3Value)
         #set($plannedStacked3Value = $resultObj.plannedStacked3Value)
    #end

    ## 月初計画_計画【3月目】
    #set($planned3ValueYb = "")
    #set($planned3ValueYbType = "ed")
    #if($resultObj.planned3ValueYb)
        #set($planned3ValueYb = $resultObj.planned3ValueYb)
        #set($planned3ValueYbType = "edn")
    #end

    ## 月末見込_積上【3月目】
    #set($expectedStacked3Value = "")
    #if($resultObj.expectedStacked3Value)
        #set($expectedStacked3Value = $resultObj.expectedStacked3Value)
    #end

    ## 月末見込_計画【3月目】
    #set($expected3ValueYb = "")
    #set($expected3ValueYbType = "ed")
    #if($resultObj.expected3ValueYb)
        #set($expected3ValueYb = $resultObj.expected3ValueYb)
        #set($expected3ValueYbType = "edn")
    #end

    ## 月初計画_積上【4月目】
    #set($plannedStacked4Value = "")
    #if($resultObj.plannedStacked4Value)
         #set($plannedStacked4Value = $resultObj.plannedStacked4Value)
    #end

    ## 月初計画_計画【4月目】
    #set($planned4ValueYb = "")
    #set($planned4ValueYbType = "ed")
    #if($resultObj.planned4ValueYb)
        #set($planned4ValueYb = $resultObj.planned4ValueYb)
        #set($planned4ValueYbType = "edn")
    #end

    ## 月末見込_積上【4月目】
    #set($expectedStacked4Value = "")
    #if($resultObj.expectedStacked4Value)
        #set($expectedStacked4Value = $resultObj.expectedStacked4Value)
    #end

    ## 月末見込_計画【4月目】
    #set($expected4ValueYb = "")
    #set($expected4ValueYbType = "ed")
    #if($resultObj.expected4ValueYb)
        #set($expected4ValueYb = $resultObj.expected4ValueYb)
        #set($expected4ValueYbType = "edn")
    #end

    ## 月初計画_積上【5月目】
    #set($plannedStacked5Value = "")
    #if($resultObj.plannedStacked5Value)
         #set($plannedStacked5Value = $resultObj.plannedStacked5Value)
    #end

    ## 月初計画_計画【5月目】
    #set($planned5ValueYb = "")
    #set($planned5ValueYbType = "ed")
    #if($resultObj.planned5ValueYb)
        #set($planned5ValueYb = $resultObj.planned5ValueYb)
        #set($planned5ValueYbType = "edn")
    #end

    ## 月末見込_積上【5月目】
    #set($expectedStacked5Value = "")
    #if($resultObj.expectedStacked5Value)
        #set($expectedStacked5Value = $resultObj.expectedStacked5Value)
    #end

    ## 月末見込_計画【5月目】
    #set($expected5ValueYb = "")
    #set($expected5ValueYbType = "ed")
    #if($resultObj.expected5ValueYb)
        #set($expected5ValueYb = $resultObj.expected5ValueYb)
        #set($expected5ValueYbType = "edn")
    #end

    ## 月初計画_積上【6月目】
    #set($plannedStacked6Value = "")
    #if($resultObj.plannedStacked6Value)
         #set($plannedStacked6Value = $resultObj.plannedStacked6Value)
    #end

    ## 月初計画_計画【6月目】
    #set($planned6ValueYb = "")
    #set($planned6ValueYbType = "ed")
    #if($resultObj.planned6ValueYb)
        #set($planned6ValueYb = $resultObj.planned6ValueYb)
        #set($planned6ValueYbType = "edn")
    #end

    ## 月末見込_積上【6月目】
    #set($expectedStacked6Value = "")
    #if($resultObj.expectedStacked6Value)
        #set($expectedStacked6Value = $resultObj.expectedStacked6Value)
    #end

    ## 月末見込_計画【6月目】
    #set($expected6ValueYb = "")
    #set($expected6ValueYbType = "ed")
    #if($resultObj.expected6ValueYb)
        #set($expected6ValueYb = $resultObj.expected6ValueYb)
        #set($expected6ValueYbType = "edn")
    #end

    ## 上位計画移行許可フラグ
    #set($canMovePlanLevel = false)
    #if($resultObj.canMovePlanLevel)
        #if($bumonFlag)
            #set($canMovePlanLevel = true)
        #end
    #end
    ## MRユーザ従業員番号
    #set($mrJgiNo = $!form.bean.jgiNo)

    ## 上位計画行
    <row id='$rowId'>
        ## 担当者計画
        #if ($form.bean.sosCd3)
            #if($canMovePlanLevel)
            <cell style="height:30" class="sumTeam"><![CDATA[エリア計画<br><a href="#" onclick="searchPlanOffice('$form.bean.sosCd2','$form.bean.oncSosFlg')">▲エリア別</a>　<a href="#" onclick="dpm501C00F05Office('$form.bean.sosCd3','$form.bean.oncSosFlg')">品目別</a>]]></cell>
            #else
            <cell style="height:30" class="sumTeam"><![CDATA[エリア計画<br>#if($mrJgiNo == "")　　　　　　　　 <a href="#" onclick="dpm501C00F05Office('$form.bean.sosCd3','$form.bean.oncSosFlg')">品目別</a>#end]]></cell>
            #end
        ## 営業所計画
        #elseif ($form.bean.sosCd2)
            #if($canMovePlanLevel)
            <cell style="height:30" class="sumTeam"><![CDATA[リージョン計画<br><a href="#" onclick="searchPlanSiten()">▲リージョン別</a>　　<a href="#" onclick="dpm501C00F05Siten('$form.bean.sosCd2','$form.bean.oncSosFlg')">品目別</a>]]></cell>
            #else
            <cell style="height:30" class="sumTeam"><![CDATA[リージョン計画<br>　　　　　　　　 <a href="#" onclick="dpm501C00F05Siten('$form.bean.sosCd2','$form.bean.oncSosFlg')">品目別</a>]]></cell>
            #end
        ## 支店計画
        #else
        <cell style="height:30" class="sumTeam"><![CDATA[全社計画<br>　　　　　　　　 <a href="#" onclick="dpm501C00F05All()">品目別</a>]]></cell>
        #end
        <cell style="height:30" class="sumTeam">$plannedTermValue</cell>
## add Start 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        <cell style="height:30" class="sumTeam"></cell>
        <cell style="height:30" class="sumTeam"></cell>
## add End 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        ## 1月目
        <cell style="height:30" class="sumTeam">$plannedStacked1Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$planned1ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expectedStacked1Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expected1ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
## add Start 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        <cell style="height:30" class="sumTeam"></cell>
## add End 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        ## 2月目
        <cell style="height:30" class="sumTeam">$plannedStacked2Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$planned2ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expectedStacked2Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expected2ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
## add Start 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        <cell style="height:30" class="sumTeam"></cell>
## add End 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        ## 3月目
        <cell style="height:30" class="sumTeam">$plannedStacked3Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$planned3ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expectedStacked3Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expected3ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
## add Start 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        <cell style="height:30" class="sumTeam"></cell>
## add End 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        ## 4月目
        <cell style="height:30" class="sumTeam">$plannedStacked4Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$planned4ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expectedStacked4Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expected4ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
## add Start 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        <cell style="height:30" class="sumTeam"></cell>
## add End 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        ## 5月目
        <cell style="height:30" class="sumTeam">$plannedStacked5Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$planned5ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expectedStacked5Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expected5ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
## add Start 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        <cell style="height:30" class="sumTeam"></cell>
## add End 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        ## 6月目
        <cell style="height:30" class="sumTeam">$plannedStacked6Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$planned6ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expectedStacked6Value</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam">$expected6ValueYb</cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
## add Start 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        <cell style="height:30" class="sumTeam"></cell>
## add End 2022/08/25 R.takamoto No.8　計画管理の月別計画に納入実績の値を表示
        ## 合計
        <cell style="height:30" class="sumTeam"></cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam"></cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam"></cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>
        <cell style="height:30" class="sumTeam"></cell>
        <cell style="height:30" class="sumTeam" type="ron"></cell>

        ## add Start 2022/12/21 H.futagami No.8　計画管理の月別計画に納入実績の値を表示
        <userdata name="hiddenRecordTotalValueYbJisseki"></userdata>
        <userdata name="hiddenRecordTougetuValueYbJisseki"></userdata>
        <userdata name="hiddenRecord1ValueYbJisseki"></userdata>
        <userdata name="hiddenRecord2ValueYbJisseki"></userdata>
        <userdata name="hiddenRecord3ValueYbJisseki"></userdata>
        <userdata name="hiddenRecord4ValueYbJisseki"></userdata>
        <userdata name="hiddenRecord5ValueYbJisseki"></userdata>
        <userdata name="hiddenRecord6ValueYbJisseki"></userdata>
        ## add End 2022/12/21 H.futagami No.8　計画管理の月別計画に納入実績の値を表示

    </row>
</rows>
#end
