<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>DP</display-name>
  <description>DP(Delivery Plan)</description>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>webapp.dp</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/conf/spring/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>cacheFilter</filter-name>
    <filter-class>jp.co.takeda.web.cmn.filter.CacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cacheFilter</filter-name>
    <url-pattern>/cmn/dhtmlx/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>cacheFilter</filter-name>
    <url-pattern>/cmn/images/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>cacheFilter</filter-name>
    <url-pattern>/cmn/js/lib/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>cacheFilter</filter-name>
    <url-pattern>/cmn/css/thickbox.css</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>noCacheFilter</filter-name>
    <filter-class>jp.co.takeda.web.cmn.filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>noCacheFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>noCacheFilter</filter-name>
    <servlet-name>pageServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>logFilter</filter-name>
    <filter-class>jp.co.takeda.web.cmn.filter.DpLogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>jp.co.takeda.web.cmn.filter.SwitchCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>switchEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/cmn/js/custom/csServer.js</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>
                /WEB-INF/conf/struts/struts-config.xml,
                /WEB-INF/conf/struts/dps998-config.xml,
                /WEB-INF/conf/struts/dps999-config.xml,
                /WEB-INF/conf/struts/dps910-config.xml,
                /WEB-INF/conf/struts/dps911-config.xml,
                /WEB-INF/conf/struts/dps912-config.xml,
                /WEB-INF/conf/struts/dps913-config.xml,
                /WEB-INF/conf/struts/dps914-config.xml,
                /WEB-INF/conf/struts/dps915-config.xml,
                /WEB-INF/conf/struts/dps920-config.xml,
                /WEB-INF/conf/struts/dps930-config.xml,
                /WEB-INF/conf/struts/dps000-config.xml,
                /WEB-INF/conf/struts/dps201-config.xml,
                /WEB-INF/conf/struts/dps202-config.xml,
                /WEB-INF/conf/struts/dps203-config.xml,
                /WEB-INF/conf/struts/dps300-config.xml,
                /WEB-INF/conf/struts/dps301-config.xml,
                /WEB-INF/conf/struts/dps302-config.xml,
                /WEB-INF/conf/struts/dps400-config.xml,
                /WEB-INF/conf/struts/dps401-config.xml,
                /WEB-INF/conf/struts/dps500-config.xml,
                /WEB-INF/conf/struts/dps501-config.xml,
                /WEB-INF/conf/struts/dps502-config.xml,
                /WEB-INF/conf/struts/dps600-config.xml,
                /WEB-INF/conf/struts/dps601-config.xml,
                /WEB-INF/conf/struts/dps920-config.xml,
                /WEB-INF/conf/struts/dps930-config.xml,
                /WEB-INF/conf/struts/dps940-config.xml,
                /WEB-INF/conf/struts/dpm910-config.xml,
                /WEB-INF/conf/struts/dpm911-config.xml,
                /WEB-INF/conf/struts/dpm912-config.xml,
                /WEB-INF/conf/struts/dpm913-config.xml,
                /WEB-INF/conf/struts/dpm000-config.xml,
                /WEB-INF/conf/struts/dpm100-config.xml,
                /WEB-INF/conf/struts/dpm101-config.xml,
                /WEB-INF/conf/struts/dpm200-config.xml,
                /WEB-INF/conf/struts/dpm201-config.xml,
                /WEB-INF/conf/struts/dpm300-config.xml,
                /WEB-INF/conf/struts/dpm301-config.xml,
                /WEB-INF/conf/struts/dpm400-config.xml,
                /WEB-INF/conf/struts/dpm401-config.xml,
                /WEB-INF/conf/struts/dpm500-config.xml,
                /WEB-INF/conf/struts/dpm501-config.xml,
                /WEB-INF/conf/struts/dpm600-config.xml,
                /WEB-INF/conf/struts/dpm601-config.xml
            </param-value>
    </init-param>
    <init-param>
      <param-name>chainConfig</param-name>
      <param-value>/WEB-INF/conf/struts/chain-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class>jp.co.takeda.web.cmn.velocity.DpVelocityServlet</servlet-class>
    <init-param>
      <param-name>org.apache.velocity.toolbox</param-name>
      <param-value>/WEB-INF/conf/velocity/toolbox.xml</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.velocity.properties</param-name>
      <param-value>/WEB-INF/conf/velocity/velocity.properties</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>/WEB-INF/view/cmn/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>/WEB-INF/view/layout/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>/WEB-INF/view/pages/dpm/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>/WEB-INF/view/pages/dps/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>/fatal.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>/cmn/js/custom/csServer.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>/cmn/css/csServer.css</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pageServlet</servlet-name>
    <servlet-class>jp.co.takeda.web.cmn.action.DpPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageServlet</servlet-name>
    <url-pattern>/pageServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/index.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/index.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/fatal.html</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/fatal.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/fatal.html</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/fatal.html</location>
  </error-page>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/fatal.html</location>
  </error-page>
  <error-page>
    <exception-type>org.apache.velocity.exception.ResourceNotFoundException</exception-type>
    <location>/fatal.html</location>
  </error-page>
  <resource-ref>
    <description>DataSource</description>
    <res-ref-name>jdbc/ORADPX01DS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <env-entry>
    <env-entry-name>dp/operatorUserId1</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>1999102</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dp/operatorUserId2</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>1999503</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dp/releaseNumber</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>03_001</env-entry-value>
  </env-entry>
  <jsp-config>
    <jsp-property-group>
      <description>JSPConfiguration</description>
      <display-name>JSPConfiguration</display-name>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
</web-app>